.navbar {
  background-color: black;
  height: 80px;
  top: 0;
  position: sticky;
  z-index: 999;
  padding-top: 25px;
  &List {
    display: flex;
    width: 760px;
    justify-content: space-between;
    margin-left: 450px;
    list-style: none;
  }
  &Btn {
    display: flex;
    justify-content: center;
    width: 90px;
    height: 30px;
    padding: 7px;
    border-radius: 50px;
    border: 1px solid;
    border: none;
    background-color: blue;
    color: #ffffff;
  }
}
.navbarBtn:hover {
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 4%;
}
.active {
  color: red;
  background-color: #ffffff;
}

@media only screen and (max-width: 1439px) {
  .container {
    width: 64rem;
  }
  .navbar {
    width: 64rem;
  }
  .navbarList {
    width: 33rem;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    width: 45rem;
  }
  .navbar {
    width: 45rem;
    &List {
      width: 30rem;
      margin-left: 200px;
    }
    &Btn {
      display: flex;
      justify-content: center;
      width: 50px;
      height: 20px;
      font-size: 8px;
    }
  }
}
